# DATABASE CONFIG
DATABASE_URL=postgresql://user:password@localhost:5432/db_name

# JWT CONFIG
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# VNPAY CONFIG (SANDBOX)
VNP_TMN_CODE=your_tmn_code
VNP_HASH_SECRET=your_hash_secret
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment-result

# AI Chatbot
GOOGLE_API_KEY=your_google_api_key
